<div class="flex justify-center pt-40 pb-10">
    <div class="p-2 w-1/2 flex flex-row justify-between">
        <span class="tracking-widest font-extrabold text-4xl text-yellow-50">TODO</span>
        <div class="flex flex-row justify-end">
            <span *ngIf="!isLoggedIn" class="p-2 text-yellow-50">Sign In / Sign Up</span>
            <span *ngIf="isLoggedIn" class="p-2 text-yellow-50">John</span>
            <mat-icon class="cursor-pointer text-4xl text-yellow-50"
                (click)="openSignInDialog(); isLoggedIn = true">account_circle</mat-icon>
        </div>
    </div>
</div>