<div class="flex w-screen h-screen justify-center items-center">
  <div class="w-96 bg-white border rounded-2xl p-3">
    <ng-container *ngIf="showSignIn; else signUp">
      <span
        class="flex justify-center items-center p-3 font-extrabold text-3xl text-blue-500"
        >Sign In</span
      >
      <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
        <input
          class="mt-5 border rounded-xl w-full p-3 text-gray-700 focus:outline-none focus:shadow-outline"
          [ngClass]="
            signInForm.controls.username.invalid &&
            signInForm.controls.username.dirty
              ? 'border-red-600'
              : ' border-gray-400'
          "
          type="email"
          id="username"
          placeholder="Username / Email*"
          formControlName="username"
        />
        <input
          class="mt-5 border rounded-xl w-full p-3 text-gray-700 focus:outline-none focus:shadow-outline"
          [ngClass]="
            signInForm.controls.password.invalid &&
            signInForm.controls.password.dirty
              ? 'border-red-600'
              : ' border-gray-400'
          "
          type="password"
          id="password"
          placeholder="Password*"
          formControlName="password"
        />
        <div class="w-full flex flex-row justify-between mt-5">
          <button
            class="w-1/2 m-2 bg-gray-400 hover:bg-gray-500 font-medium text-gray-700 p-3 rounded-xl"
            (click)="goToHome()"
          >
            Guest
          </button>
          <button
            class="w-1/2 m-2 font-medium text-gray-700 p-3 rounded-xl"
            [ngClass]="
              signInForm.valid
                ? 'bg-blue-300 hover:bg-blue-500'
                : 'bg-gray-200 text-gray-100 opacity-75 cursor-not-allowed'
            "
            [disabled]="signInForm.invalid"
            type="submit"
          >
            Sign In
          </button>
        </div>
      </form>
      <span class="mt-2 flex justify-center items-center text-sm"
        >Don't have an account?
        <div
          class="text-blue-600 pl-2 cursor-pointer"
          (click)="showSignIn = false"
        >
          Sign up
        </div>
      </span>
    </ng-container>
    <ng-template #signUp>
      <span
        class="flex justify-center items-center p-3 font-extrabold text-3xl text-blue-500"
        >Sign Up</span
      >
      <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
        <input
          class="mt-5 border rounded-xl w-full p-3 text-gray-700 focus:outline-none focus:shadow-outline"
          [ngClass]="
            signUpForm.controls.firstName.invalid &&
            signUpForm.controls.firstName.dirty
              ? 'border-red-600'
              : ' border-gray-400'
          "
          type="text"
          id="firstName"
          placeholder="First name*"
          formControlName="firstName"
        />
        <input
          class="mt-5 border rounded-xl w-full p-3 text-gray-700 focus:outline-none focus:shadow-outline"
          [ngClass]="
            signUpForm.controls.lastName.invalid &&
            signUpForm.controls.lastName.dirty
              ? 'border-red-600'
              : ' border-gray-400'
          "
          type="text"
          id="lastName"
          placeholder="Last name*"
          formControlName="lastName"
        />
        <input
          class="mt-5 border rounded-xl w-full p-3 text-gray-700 focus:outline-none focus:shadow-outline"
          type="email"
          [ngClass]="
            signUpForm.controls.email.invalid && signUpForm.controls.email.dirty
              ? 'border-red-600'
              : ' border-gray-400'
          "
          id="email"
          placeholder="Email*"
          formControlName="email"
        />
        <input
          class="mt-5 border rounded-xl w-full p-3 text-gray-700 focus:outline-none focus:shadow-outline"
          [ngClass]="
            signUpForm.controls.password.invalid &&
            signUpForm.controls.password.dirty
              ? 'border-red-600'
              : ' border-gray-400'
          "
          type="password"
          id="password"
          placeholder="Password*"
          formControlName="password"
        />
        <input
          class="mt-5 border rounded-xl w-full p-3 text-gray-700 focus:outline-none focus:shadow-outline"
          [ngClass]="
            signUpForm.controls.confirmPassword.invalid &&
            signUpForm.controls.confirmPassword.dirty
              ? 'border-red-600'
              : ' border-gray-400'
          "
          type="password"
          id="confirmPassword"
          placeholder="Confirm Password*"
          formControlName="confirmPassword"
        />
        <div class="w-full flex flex-row justify-between mt-5">
          <button
            class="w-full m-2 font-medium text-gray-700 p-3 rounded-xl"
            [ngClass]="
              signUpForm.valid
                ? 'bg-blue-300 hover:bg-blue-500'
                : 'bg-gray-200 text-gray-100 opacity-75 cursor-not-allowed'
            "
            [disabled]="signUpForm.invalid"
            type="submit"
          >
            Register User
          </button>
        </div>
      </form>
      <span class="mt-2 flex justify-center items-center text-sm"
        >Have an account already?
        <div
          class="text-blue-600 pl-2 cursor-pointer"
          (click)="showSignIn = true"
        >
          Sign in
        </div>
      </span>
    </ng-template>
  </div>
</div>
