<div class="flex justify-center pb-10 text-gray-700 h-auto max-h-96">
    <div class="bg-white p-2 rounded-2xl w-1/2">
        <mat-list>
            <ng-container *ngFor="let task of tasks">
                <mat-list-item class="flex flex-row justify-between">
                    <ng-container *ngIf="!task.isEdit else editView">
                        <div class="w-4/5">
                            <input class="py-2 cursor-pointer" type="checkbox" [checked]="task.isCompleted"
                                (change)="updateTask(task)">
                            <span class="p-2">{{task.description}}</span>
                        </div>
                        <div class="w-1/5 flex flex-row justify-end">
                            <mat-icon class="text-blue-300 hover:text-blue-500 w-1/8 px-6 cursor-pointer"
                                (click)="task.isEdit = !task.isEdit">edit</mat-icon>
                            <mat-icon class="text-blue-300 hover:text-blue-500 w-1/8 px-6 cursor-pointer"
                                (click)="removeTask(task)">delete</mat-icon>
                        </div>
                    </ng-container>

                    <ng-template #editView>
                        <div class="w-4/5">
                            <input class="outline-none focus:ring-0 w-4/5 text-gray-700" type="text"
                                [ngModel]="task.description" placeholder="edit task description...">
                        </div>
                        <div class="w-1/5 flex flex-row justify-end">
                            <mat-icon class="text-blue-300 hover:text-blue-500 w-1/8 px-6 cursor-pointer"
                                (click)="updateTask(task); task.isEdit = !task.isEdit">save</mat-icon>
                            <mat-icon class="text-blue-300 hover:text-blue-500 w-1/8 px-6 cursor-pointer"
                                (click)="task.isEdit = !task.isEdit">close</mat-icon>
                        </div>
                    </ng-template>
                </mat-list-item>
            </ng-container>
        </mat-list>
    </div>
</div>